// Place all the styles related to the trains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_horizon{
  float: left;
  margin-left: 5px;
}

.form_style{
  border-radius: 3px;
  border-color: white;
  border: solid 1px #dddddd;
}

.button_style{
  border-radius: 3px;
  background-color: white;
  border: solid 1px #dddddd;
}

.form_size{
  width: 80%;
}
