// Place all the styles related to the trains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_horizon{
  float: left;
  margin-left: 5px;
}

.form_style{
  border-radius: 3px;
  border-color: white;
  border: solid 1px #dddddd;
  width: 50%;
  height: 30px;
  padding-left: 10px;
  font-size: 80%;
}

.button_style{
  border-radius: 3px;
  background-color: white;
  border: solid 1px gray;
  height: 30px;
  color: white;
  background-color: gray;
  letter-spacing: 2px;
  padding: 0 8px 0;
}


.button_style:hover{
  opacity: 0.7;
}

.form_size{
  width: 80%;
}
