<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">

      <!-- タイトル -->
      <title>Training</title>

      <!-- スタイルシート指定 -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>

      <!-- スクリプト -->
      <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
      </script>
      <script src="js/jquery1.7.2.min.js"></script>
      <script src="js/script.js"></script>
    </head>
<body>

<!-- ヘッダー -->
<header id="top-head">
    <div class="headinner">
        <div id="mobile-head">
            <h1>筋トレ・健康グッズの口コミNo.1 サイト</h1>
            <h2><a href="/">Training &amp; Co.</a></h2>
            <div id="nav-toggle">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <nav id="global-nav">
            <ul>
                
                <li>                      <a class="user" href="/users/sign_in">ログイン</a>
                      <a class="user" href="/users/sign_up">新規登録</a>
                    </li>
            </ul>
        </nav>
    </div>
</header>


<%= yield %>

<footer id="footer">
  <p id="copyright">Copyright © Training &amp; Co. All rights Reserved.
</p></footer>



</body>
</html>
